image: eclipse-temurin:21-alpine

before_script:
  - chmod +x ./gradlew

build:
  stage: build
  script: ./gradlew --build-cache assemble
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle

test:
  stage: test
  services:
    - postgres:17.2-alpine
  variables:
    POSTGRES_DB: 'cinema-test'
    POSTGRES_USER: 'spring'
    POSTGRES_PASSWORD: 'spring'
    CI_DB_HOST_PORT: 'postgres:5432'
  artifacts:
    when: always
    reports:
      junit: build/test-results/test/**/TEST-*.xml
  script: ./gradlew check
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
      - .gradle
