@import 'variables';
@import 'carousel';


body {
    background: url('../js/assets/images/cinema-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.hero-section {
    background: rgba(0, 0, 0, 0.6);
    padding: 80px 20px;
    border-radius: 15px;
}

