@import "~bootstrap/scss/functions";

//$primary: #b3e1f8;
//$body-bg: #e3f2fd;
//$body-color: #222;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";

@import "~bootstrap/scss/functions";

//.section {
//  background: $body-bg;
//  border-radius: 1rem;
//  padding: 2rem 1.5rem;
//  margin-bottom: 2rem;
//  box-shadow: 0 2px 8px rgba(110, 193, 228, 0.15);
//
//  h2 {
//    color: $primary;
//    margin-bottom: 1rem;
//  }
//  label {
//    color: darken($primary, 20%);
//    font-weight: 500;
//  }
//}
//
//body {
//  color: #222 !important;
//  background: $body-bg;
//}
