@import "~bootstrap/scss/functions";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";

$navbar-bg: #d0e3ff;
$navbar-brand: #598bf8;
$footer-bg: #d0e3ff;

.navbar, .footer, footer {
  background-color: $navbar-bg !important;
}

.navbar-brand {
  color: $navbar-brand !important;
}

.nav-link {
  transition: color 0.2s;
  &:hover {
    color: darken($navbar-brand, 10%) !important;
  }
}
.navbar, footer, .footer div small {
  background-color: $navbar-bg !important;
  color: #222 !important;
}

.navbar-brand, .nav-link, footer {
  color: #222 !important;
}

.nav-link {
  transition: color 0.2s;
  &:hover {
    color: darken($navbar-brand, 20%) !important;
  }
}
.navbar-toggler {
  border-color: darken($navbar-bg, 20%);
}

.navbar-toggler-icon {
  filter: invert(0.3);
}

html, body {
  height: 100%;
  min-height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
}