<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Error</title>
    <link rel="icon" th:href="@{/icons/icon.jpg}" type="image/jpg">
    <script src="/js/bundle-site.js"></script>
    <link rel="stylesheet" href="/css/bundle-site.css">
</head>
<body>
<div th:insert="~{fragments :: navbar}"></div>
<div class="container mt-5 text-center">
    <h1 class="text-danger">Looks like something went wrong with our database!:(</h1>
    <div class="alert alert-danger mt-4">
        <p><strong>Error Message:</strong> <span th:text="${message}">Error details go here.</span></p>
        <p><strong>Error Code:</strong> <span th:text="${status}">Error code goes here.</span></p>
        <p><strong>Timestamp:</strong> <span th:text="${timestamp}">Timestamp goes here.</span></p>
    </div>
</div>
<div th:insert="~{fragments :: footer}"></div>
</body>
</html>
