<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  lang=""
>
  <head>
    <meta charset="UTF-8">
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"
    />
    <title></title>
  </head>
  <body>

  <th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg shadow-sm" style="background-color: #d0e3ff;">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold d-flex align-items-center" th:href="@{/home}" style="color: #598bf8;">
          <i class="bi bi-camera-reels-fill me-2" style="font-size: 1.8rem;"></i>
          My Cinema App
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link link-custom" th:href="@{/cinemas}">
                <i class="bi bi-building me-1"></i> All Cinemas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-custom" th:href="@{/movies}">
                <i class="bi bi-film me-1"></i> All Movies
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-custom" th:href="@{/tickets}">
                <i class="bi bi-ticket-perforated me-1"></i> All Tickets
              </a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasAnyRole(''ADMINISTRATOR'')')}">
              <a class="nav-link link-custom" th:href="@{/cinemas/addcinema}">
                <i class="bi bi-plus-circle-dotted me-1"></i> Add Cinema
              </a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasAnyRole(''ADMINISTRATOR'')')}">
              <a class="nav-link link-custom" th:href="@{/movies/addmovie}">
                <i class="bi bi-plus-circle me-1"></i> Add Movie
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-custom" th:href="@{/tickets/add}">
                <i class="bi bi-plus-circle-fill me-1"></i> Add Ticket
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-custom" th:href="@{/movies/find}">
                <i class="bi bi-search me-1"></i> Find Movie
              </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
              <form class="d-flex" th:action="@{/logout}" th:method="POST">
                <button type="submit" class="btn text-white fw-bold d-flex align-items-center"
                        style="background-color: #598bf8">
                  <i class="bi bi-box-arrow-right me-1"></i> Logout
                </button>
              </form>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
              <a class="nav-link link-custom" th:href="@{/login}">
                <i class="bi bi-box-arrow-in-right me-1"></i> Login
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </th:block>

  <th:block th:fragment="footer">
    <footer class="mt-auto text-center py-3 shadow-sm">
      <div class="container">
        <small class="text-dark">&copy; 2024 My Cinema App. All rights reserved.</small>
      </div>
    </footer>
  </th:block>
  </body>
</html>
